/* Brand Color Selection
#c5d2db
#2096ba
#e7b183
#c5919d
#df6e21
*/

html,
body {
    background-color: #E7B183;
    color: #DF6E21;
}
h3 {
    font-weight: bold;
}
.modal-header {
    background-color: #E7B183;
    height: 80px;
}

.modal-body{
    font-weight: bold;
}

/* Sidebar */
.sidebar {
    background-color: #c5d2db;
    position: fixed;
    width: 28%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
.main {
    padding-left: 30%;
}
.sidebar button {
    background-color: #fffff;
    color: #df6e21;
    border: 1px solid #df6e21;
    margin-top: 25px;
}

.sidebar button:hover {
    background-color:#c5919d;
    color: #e7b183;
    border: 1px solid #df6e21;
}
.room-list ul{
    margin-top: 70px;
    font-size: 1.5rem;
    padding-left: 0px;
    color: #df6e21;
    font-weight: bold;
    list-style: none;
}

.room-list li {
    padding-top: 15px;
}

/* Create Room Modal Window */
.modalstyles {
    border-radius: 5px;
    background-color:#E7B183;
    color: #DF6E21;
    border: 1px solid #DF6E21;
}

.modalstyles input {
    width: 69%;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #DF6E21;
    border-radius: 5px;
}

.modal-footer {
     border-top: none;
}

.modal-header {
    border-bottom: none;
}

.btn {
    border-radius: 5px;
    color: #DF6E21;
    font-weight: bold;
    border: 1px solid #df6e21;
}

.cancel-btn:hover, .cancel-btn:active {
    background-color: red;
    color: #ffffff;
    border: 1px solid #df6e21;
}

.btn-primary {
    background-color: #ffffff;
}
.btn.btn-primary:hover, .btn.btn-primary:active {
    background-color: bisque;
    color: white;
    border: 1px solid #df6e21;   
}

.container.main{
    background-color: #c5919d;
    height: 100vh;
    width: 100%;
}

.btn.btn-success {
    color: #df6e21;
    background-color: white;
    border: 1px solid #df6e21;
}

.btn-success:hover, .btn-success:active {
    background-color: bisque;
}

/* CreateUserName Modal*/
.modal-header {
    color: #df6e21;
    font-size: 5px;
}

.btn.btn-default {
    color: #df6e21;
}

/* ChatRoom MessageList */
.chat-room {
 height: 90vh; /*viewport height*/ 
}

.room-name {
    font-weight: bold;
}
#messages {
    height:90%;
    overflow-y: auto;
}
.message-list {
    font-size: 14px;
    color: #c5d2db;
    list-style: square;
    padding: 20px;
    margin: 0;
}

.user-name {
    color: #df6e21; 
    font-size: 14px;
    font-weight: bold;
}

#message-input {
    height: 7vh;
    position: fixed;
    bottom: 0;
}